@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Source Code Pro', monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(181, 208, 231);
}

header { 
    text-align: center;
    background-color: #1C885F;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 5px;
}

p {
    font-size: 12px;
    margin-top: 5px;
}

.redStar {
    color: red;
}

input {
    border-radius: 10px;
    border: 1px solid black;
    text-align:center;
    
}

#data-wrapper {
    display: flex;
    margin: 15px;
}

#itemExpense, #itemDate {
    width: 225px;
    height: 25px;
    font-size: 1rem;
   
}

#itemAmount {
    width: 200px;
    height: 25px;
    font-size: 1rem;
}

#data-wrapper input{
    margin-right: 15px;
}

#amountDiv {
    display: flex;
    margin: 7px;
}

#submit {
    width: 5.5rem;
    height: 2rem;
    border-radius: 20px;
    border: 1px solid black;
    background-color: #1C885F;
    color: white;
    transition: background-color .5s;
    cursor: pointer;
}

#submit:hover {
    background: rgb(41, 174, 41);
}

table {
    width: 75%;
    border: 3px solid black;
    margin: 15px 5px;
    height: 100%;
    border-collapse: collapse;
    border-top-left-radius: 1rem;
    background-color: white;
}

/* each cells */
td { 
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

/* table heading inside table row ID(row) */
#trHeading > th {
    border: 1px solid gray;
    background-color:white;
    
}

tr:nth-child(even) {
    background-color: lightgrey;
  
}

.animatedTR {
    animation: rowUp .4s linear;
    
}

@keyframes rowUp {

   0% {
    opacity: .2;
    transform: translateY(75px);
   } 

   25% {
    opacity: .3;
    transform: translateY(50px);
   }

   50% {
    opacity: .5;
    transform: translateY(25px);
   }

   75% {
    opacity: .7;
    transform: translateY(-5px);
   }

   100% {
    opacity: .9;
    transform: translateY(0px);
   }
}