* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

table {
    width: 75%;
    border: 3px solid black;
    margin: 25px;
    height: 100%;
    border-collapse: collapse;
    border-radius: 10px;
}

td {
    border: 1px solid gray;
    text-align: center;
    padding: 10px;
}

#trHeading > th {
    border: 1px solid gray;
  
}
tr:nth-child(even) {
    background-color: lightgrey;
  
}
