@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Source Code Pro', monospace;
}
html {
    height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(181, 208, 231);
    /* max-height: 100vh; */

}

header { 
    text-align: center;
    background-color: #1C885F;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 5px;
}

p {
    font-size: 12px;
    margin-top: 5px;
}

.redStar {
    color: red;
}

input {
    border-radius: 5px;
    border: 1px solid black;
    text-align:center;
    
}
hr { border: 1px solid black; }

#data-wrapper {
    display: flex;
    margin: 15px;
}

#itemExpense, #itemDate {
    width: 225px;
    height: 25px;
    font-size: 1rem;
   
}

#itemAmount {
    width: 200px;
    height: 25px;
    font-size: 1rem;
}

#data-wrapper input{
    margin-right: 15px;
}

#amountDiv {
    display: flex;
    margin: 7px;
}

#submit {
    width: 5.5rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    border-bottom: 3px solid black;
    
    background-color: #169263;
    color: white;
    transition: background-color .5s;
    cursor: pointer;
}

#submit:hover {
    background: rgb(51, 192, 51);
}
#submit:active {
    border: 2px solid green;
} 

table {
    width: 55%;
    border: 3px solid black;
    margin: 10px 5px;
    height: auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 3px 10px rgb(106, 105, 105);
}

/* each cells */
td { 
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

/* table heading inside table row ID(row) */
#trHeading > th {
    border: 1px solid gray;
    background-color:white;
    
}

tr:nth-child(even) {
    background-color: lightgrey;
  
}

.animatedTR {
    animation: rowUp .4s linear;
    
}

.modal {
    background-color: rgba(18, 17, 17, 0.7); 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    display: none;
}

.modal-content {
    background-color: rgb(220, 216, 216);
    margin: 15rem auto;
    width: 50%;
    height: 15rem;
    padding: 20px 15px;
    border: 2px solid gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: animatetop .4s;
}
.modalText {text-align: center;}

.questionModal {font-size: 1.3em;}
.modalTop { text-align: right; }
.modalBottom { text-align: right; }
.btn {
    padding: 10px;
    border: 1px solid black;
    margin: 5px;
    background-color: white;
    transition: .2s background-color ease-in;
    cursor:pointer;
}
.btn:nth-child(1):hover {
    background-color: rgb(243, 64, 64);
    color: white;
}
.btn:nth-child(2):hover {
    background-color: green;
    color: white;
}

.expenseCount {
    padding: 5px;
    margin: 5px;
    text-align: center; 
}

@keyframes animatetop {
    from {
        transform: translateY(-300px);
        opacity: 0;
    }
    to { 
        transform: translate(0, 0);
         opacity: 1}
}

@keyframes rowUp {

   0% {
    opacity: .2;
    transform: translateY(75px);
   } 

   25% {
    opacity: .3;
    transform: translateY(50px);
   }

   50% {
    opacity: .5;
    transform: translateY(25px);
   }

   75% {
    opacity: .7;
    transform: translateY(-5px);
   }

   100% {
    opacity: .9;
    transform: translateY(0px);
   }
}

#totalAmountDiv {
    width: 1080px;
    text-align: center;
    display: none;
}


@media only screen and (max-width: 650px) {
   
    #data-wrapper {
        display: flex;
        flex-direction: column;
        
    }

    #amountDiv {
        flex-direction: column;
        align-items:stretch;
    }
    #amountDiv input {
        width: 225px;
    }
    #itemAmount {
        margin-right: 15px;
    }
}